


input {
  &.right {
    text-align: right
  }

  &.lg {
    font-size: var(--size-xl);
    font-weight: 700;
  }

  &.md {
    font-size: var(--size-lg);
    font-weight: 500;
    max-height: var(--size-lg);
  }

  &.sm {
    font-size: 1rem;
    font-weight: 300;
    max-height: 1rem;
  }

  &.shadow {
    background: rgba(255, 0, 20, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &.transparent {
    display: block;
    padding: 0;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: "Modesto Condensed", "Palatino Lynotype", serif;
    background: none;
    -webkit-transition: background 0.3s ease, border-color 0.3s ease;
    transition: background 0.3s ease, border-color 0.3s ease;

    &:hover {
      background: rgba(255, 0, 20, 0.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}

.player-contrast {
  color: var(--player-contrast);
}

.message-contrast {
  color: var(--message-contrast);
}

.sheet-contrast {
  color: var(--sheet-contrast);
}

.warning {
  background-color: var(--color-warning) important;
}

.pointer {
  cursor: pointer;
}

.click {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 4px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.2);
}

.uppercase {
  text-transform: uppercase;
}

.dropshadow {
  box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.83);
}

.chat-message {
  h1 {
    border-color: var(--message-color);
  }
}

.combat-tracker--AP {
  margin-left: 0.6rem;
}


.sheet-body {

  h1,
  h2,
  h3,
  h4 {
    font-family: "Modesto Condensed", "Palatino Lynotype", serif;
  }

  input {
    .cheeky {
      margin: 0 0 0 -2px;
    }
  }

  .prose {
    min-height: 100px;
  }
}

.bg-lighten {
  background: rgba(255, 255, 255, 0.3)
}

.flexrow.split>div {
  padding: 0 4px;
  border-right: 1px solid grey;
}

.flex {
  display: flex !important;
}

.flexrow>.flex4,
.flexcol>.flex4 {
  flex: 4;
}

label {
  display: inline-block;
  max-height: 1rem;
  text-transform: capitalize;
}

caption {
  font-size: smaller;
}

.right {
  text-align: right;
}

.debug {
  border: 3px solid red;
}

.center {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}


.inline {
  display: inline;
}

.white {
  color: #ffffff;
}

.off-white {
  color: #e0e0e0;
}

.actor-sheet__tab {
  article {
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    padding: 0;
    margin: 0;
    text-align: left;
    background: rgba(20, 0, 20, 0.1);
    height: 100%;

    h2 {
      text-transform: capitalize;
    }
  }
}

// unset the wierd styling for Prosemirror that was causing the content to vanish while editing.
.prosemirror {
  display: block;

  .editor-container {
    position: relative;
    display: block;

    .editor-content {
      outline: 0 solid transparent;
      height: unset;
      position: relative;
      text-align: left;
      padding-right: 0.5rem;
    }
  }

  .editor {
    overflow: unset;
    max-height: none;
    max-width: none;
    text-align: left;
  }
}

div[data-tooltip] {
  cursor: help;
}

table thead {
  background: rgba(0, 0, 0, 0.5);
  color: var(--player-color);
  text-shadow:
    2px 2px 4px var(--player-contrast);
  border-bottom: 1px solid var(--color-border-dark);

  th {
    background: none !important
  }
}


//-  padding / margins
.py-md {
  padding: var(--size-md) 0;
}

.py-sm {
  padding: var(--size-sm) 0;
}

.py-xs {
  padding: var(--size-xs) 0;
}

.py-xxs {
  padding: var(--size-xxs) 0;
}

.px-sm {
  padding-right: var(--size-sm);
  padding-left: var(--size-sm);
}

.px-xs {
  padding-right: var(--size-xs);
  padding-left: var(--size-xs);
}

.px-md {
  padding-right: var(--size-md);
  padding-left: var(--size-md);
}

.pa-sm {
  padding: var(--size-sm);
}

.pa-xxs {
  padding: var(--size-xxs);
}

.pt-xxs {
  padding-top: var(--size-xxs);
}

.pa-xs {
  padding: var(--size-xs);
}

.pa-md {
  padding: var(--size-md);
}

.pl-sm {
  padding-left: var(--size-sm);
}

.pr-sm {
  padding-right: var(--size-sm);
}

.pr-xs {
  padding-right: var(--size-xs);
}

.pb-sm {
  padding-bottom: var(--size-sm);
}

.pt-ms {
  padding-top: var(--size-ms);
}

.pt-sm {
  padding-top: var(--size-sm);
}

.pt-xs {
  padding-top: var(--size-xs);
}

.px-sm {
  padding-right: var(--size-sm);
  padding-left: var(--size-sm);
}

.py-sm {
  padding-top: var(--size-sm);
  padding-bottom: var(--size-sm);
}

.ma-sm {
  margin: var(--size-sm);
}

.mx-sm {
  margin-right: var(--size-sm);
  margin-left: var(--size-sm);
}

.mx-xs {
  margin-right: var(--size-xs);
  margin-left: var(--size-xs);
}

.my-sm {
  margin-top: var(--size-sm);
  margin-bottom: var(--size-sm);
}

.mt-none {
  margin-top: none;
}

.mt-lg {
  margin-top: var(--size-lg);
}

.mt-md {
  margin-top: var(--size-md);
}

.mt-sm {
  margin-top: var(--size-sm);
}

.mt-xs {
  margin-top: var(--size-xs);
}

.mt-xxs {
  margin-top: var(--size-xxs)
}

.mb-md {
  margin-bottom: var(--size-md);
}

.mb-sm {
  margin-bottom: var(--size-sm);
}

.mb-xs {
  margin-bottom: var(--size-xs);
}

.mr-sm {
  margin-right: var(--size-sm);
}

.mr-xs {
  margin-right: var(--size-xs);
}

.mr-md {
  margin-right: var(--size-md);
}

.ml-xs {
  margin-left: var(--size-xs);
}

.ml-sm {
  margin-left: var(--size-sm);
}

.ml-md {
  margin-left: var(--size-md);
}

.ml-lg {
  margin-left: var(--size-lg);
}

.ml-xl {
  margin-left: var(--size-xl);
}



.bold {
  font-weight: 700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.hide {
  visibility: hidden;
}


// Colours
.negative {
  color: var(--color-negative);
}

.positive {
  color: var(--color-positive);
}