/**
 * Provides styles used across all demo applications. Take note that `classes: ['tjs-essential-svelte-esm']` is added to
 * all applications and dialogs which allows targeting just the `essential-svelte-esm` GUI.
 *
 * Vite / Rollup includes style files by importing them; see: `./src/index.js`.
 */
.tjs-essential-svelte-esm {
  // Instead of the browser default outline for manually focused components define your own.
  // Note that this is just for TRL / svelte-standard components as there are several normal elements still used in the
  // demo code thus will have default styles of either Foundry or the browser.
  --tjs-default-outline-focus-visible: 4px dotted orange;

  // Optional transition parameters for all components when manually focused / navigated by keyboard.
  //--tjs-default-transition-focus-visible: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;

  // -----------------------------------------------------------------------------------------------------------------

  // Other useful default CSS variables that widely apply across TRL / svelte-standard.
  // Please note that the default values are provided. There are many more default and more specific CSS variables to
  // target subsections of components that will be further discussed once they are represented in the demos.

  // --tjs-default-text-shadow-focus-hover: 0 0 8px red;

  // You can opt to use box shadow for manually focused / navigated components. In this case remove the outline above.
  // --tjs-default-box-shadow-focus-visible: undefined


}
#foundryvtt-actor-studio-pc-sheet{
  --tjs-app-overflow: visible;
  .window-header.svelte-19grh1t .tjs-app-icon.svelte-19grh1t {
    border: none;
    background: #416dbe;
  }
  section {
    padding: 0.3rem;
  }

  // alignment, accent and visibility
  .bold {
    font-weight: 700;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }
  
  .hide {
    visibility: hidden;
  }
  

  // headings
  h1, h2, h3, h4, h5 {
    font-family: var(--dnd5e-font-modesto);
  }

  // padding margins
  .py-md {
    padding: var(--size-md) 0;
  }

  .py-sm {
    padding: var(--size-sm) 0;
  }

  .py-xs {
    padding: var(--size-xs) 0;
  }

  .py-xxs {
    padding: var(--size-xxs) 0;
  }

  .px-sm {
    padding-right: var(--size-sm);
    padding-left: var(--size-sm);
  }

  .px-xs {
    padding-right: var(--size-xs);
    padding-left: var(--size-xs);
  }

  .px-md {
    padding-right: var(--size-md);
    padding-left: var(--size-md);
  }

  .pa-sm {
    padding: var(--size-sm);
  }

  .pa-xxs {
    padding: var(--size-xxs);
  }

  .pt-xxs {
    padding-top: var(--size-xxs);
  }

  .pa-xs {
    padding: var(--size-xs);
  }

  .pa-md {
    padding: var(--size-md);
  }

  .pl-sm {
    padding-left: var(--size-sm);
  }
  .pl-md {
    padding-left: var(--size-md);
  }

  .pr-sm {
    padding-right: var(--size-sm);
  }

  .pr-md {
    padding-right: var(--size-md);
  }

  .pr-xs {
    padding-right: var(--size-xs);
  }

  .pb-sm {
    padding-bottom: var(--size-sm);
  }

  .pt-ms {
    padding-top: var(--size-ms);
  }

  .pt-sm {
    padding-top: var(--size-sm);
  }

  .pt-xs {
    padding-top: var(--size-xs);
  }

  .px-sm {
    padding-right: var(--size-sm);
    padding-left: var(--size-sm);
  }

  .py-sm {
    padding-top: var(--size-sm);
    padding-bottom: var(--size-sm);
  }

  .ma-sm {
    margin: var(--size-sm);
  }

  .mx-sm {
    margin-right: var(--size-sm);
    margin-left: var(--size-sm);
  }

  .mx-xs {
    margin-right: var(--size-xs);
    margin-left: var(--size-xs);
  }

  .my-sm {
    margin-top: var(--size-sm);
    margin-bottom: var(--size-sm);
  }

  .mt-none {
    margin-top: none;
  }

  .mt-lg {
    margin-top: var(--size-lg);
  }

  .mt-md {
    margin-top: var(--size-md);
  }

  .mt-sm {
    margin-top: var(--size-sm);
  }

  .mt-xs {
    margin-top: var(--size-xs);
  }

  .mt-xxs {
    margin-top: var(--size-xxs)
  }

  .mb-md {
    margin-bottom: var(--size-md);
  }

  .mb-sm {
    margin-bottom: var(--size-sm);
  }

  .mb-xs {
    margin-bottom: var(--size-xs);
  }

  .mr-sm {
    margin-right: var(--size-sm);
  }

  .mr-xs {
    margin-right: var(--size-xs);
  }

  .mr-md {
    margin-right: var(--size-md);
  }

  .ml-xs {
    margin-left: var(--size-xs);
  }

  .ml-sm {
    margin-left: var(--size-sm);
  }

  .ml-md {
    margin-left: var(--size-md);
  }

  .ml-lg {
    margin-left: var(--size-lg);
  }

  .ml-xl {
    margin-left: var(--size-xl);
  }

}

