/**
 * Provides styles used across all demo applications. Take note that `classes: ['tjs-essential-svelte-esm']` is added to
 * all applications and dialogs which allows targeting just the `essential-svelte-esm` GUI.
 *
 * Vite / Rollup includes style files by importing them; see: `./src/index.js`.
 */
.tjs-essential-svelte-esm {
  // Instead of the browser default outline for manually focused components define your own.
  // Note that this is just for TRL / svelte-standard components as there are several normal elements still used in the
  // demo code thus will have default styles of either Foundry or the browser.
  --tjs-default-outline-focus-visible: 4px dotted orange;

  // Optional transition parameters for all components when manually focused / navigated by keyboard.
  //--tjs-default-transition-focus-visible: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;

  // -----------------------------------------------------------------------------------------------------------------

  // Other useful default CSS variables that widely apply across TRL / svelte-standard.
  // Please note that the default values are provided. There are many more default and more specific CSS variables to
  // target subsections of components that will be further discussed once they are represented in the demos.

  // --tjs-default-text-shadow-focus-hover: 0 0 8px red;

  // You can opt to use box shadow for manually focused / navigated components. In this case remove the outline above.
  // --tjs-default-box-shadow-focus-visible: undefined


}
#foundryvtt-actor-studio-pc-sheet{
  --tjs-app-overflow: visible;
  .window-header.svelte-19grh1t .tjs-app-icon.svelte-19grh1t {
    border: none;
    background: #416dbe;
  }

}

.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-body .pills-group .pill {
  &.geoidesic-5e-button:hover:not(:has(a:hover)) {
    box-shadow: 0 0 12px var(--dnd5e-color-gold);
    cursor: pointer;
  }
}

button.geoidesic-5e-button {
  color: white;
}

.geoidesic-5e-jump-calc {
  span.lozenge {
    border: 1px dotted var(--color-border-highlight);
    background: rgba(0, 0, 0, 0.5);
    padding: 1px 3px;
    color: white;
    border-radius: 5px;
  }
}
