$str-color: #E7807A;
$hlt-color: #EBAF7B;
$agl-color: #afcb7a;
$per-color: #B2CFED;
$int-color: #9B88FC;
$cha-color: #D7AAFA;

$str-color-lighter: lighten($str-color, 10%);
$hlt-color-lighter: lighten($hlt-color, 10%);
$agl-color-lighter: lighten($agl-color, 10%);
$per-color-lighter: lighten($per-color, 10%);
$int-color-lighter: lighten($int-color, 10%);
$cha-color-lighter: lighten($cha-color, 10%);

$str-color-lightest: lighten($str-color, 17%);
$hlt-color-lightest: lighten($hlt-color, 10%);
$agl-color-lightest: lighten($agl-color, 10%);
$per-color-lightest: lighten($per-color, 10%);
$int-color-lightest: lighten($int-color, 10%);
$cha-color-lightest: lighten($cha-color, 10%);

$str-color-darker: darken($str-color, 10%);
$hlt-color-darker: darken($hlt-color, 10%);
$agl-color-darker: darken($agl-color, 10%);
$per-color-darker: darken($per-color, 10%);
$int-color-darker: darken($int-color, 10%);
$cha-color-darker: darken($cha-color, 10%);



:root {
  // Border styling
  --border-style: solid;
  --border-radius: 5px;
  --border-width: 0;
  --border-color: rgb(45, 45, 45);

  // Form styling
  --form-field-height: auto;

  // Input styling
  --input-border-style: solid;
  --input-border-radius: 3px;
  --input-border-width: 1px;
  --input-color: black;
  --input-height: 1.5rem;
  --input-width: 100%;
  --input-background: white;
  --input-padding: 0 0.25rem;


  --static-value-background: rgb(70, 70, 70);
  --font-color: rgba(255, 255, 255, 0.83);
  --disabled-opacity: 1 // Button Styling
    --button-border-style: solid;
  --button-border-radius: 10px;
  --button-border-width: 0.1rem;
  --button-border-color: black;
  --button-padding: 0.1rem 0.5rem;
  --button-background: rgba(0, 0, 0, 0.2);
  --button-background-disabled: rgb(208, 208, 208);
  --button-background-highlight: rgb(255, 233, 174);
  --button-font-size: 1rem;
  --button-font-weight: bold;
  --button-color: --player-color;
  --button-line-height: 1.75rem;
  --button-color-disabled: black;
  --button-color-highlight: black;
  --color-shadow-primary: var(--player-color);

  --attribute-field-height: 1.3rem;

  --highlight-background: rgba(20, 0, 40, 0.8);

  --str-color: #{$str-color};
  --hlt-color: #{$hlt-color};
  --agl-color: #{$agl-color};
  --per-color: #{$per-color};
  --int-color: #{$int-color};
  --cha-color: #{$cha-color};

  --str-color-lighter: #{$str-color-lighter};
  --hlt-color-lighter: #{$hlt-color-lighter};
  --agl-color-lighter: #{$agl-color-lighter};
  --per-color-lighter: #{$per-color-lighter};
  --int-color-lighter: #{$int-color-lighter};
  --cha-color-lighter: #{$cha-color-lighter};

  --str-color-lightest: #{$str-color-lightest};
  --hlt-color-lightest: #{$hlt-color-lightest};
  --agl-color-lightest: #{$agl-color-lightest};
  --per-color-lightest: #{$per-color-lightest};
  --int-color-lightest: #{$int-color-lightest};
  --cha-color-lightest: #{$cha-color-lightest};

  --str-color-darker: #{$str-color-darker};
  --hlt-color-darker: #{$hlt-color-darker};
  --agl-color-darker: #{$agl-color-darker};
  --per-color-darker: #{$per-color-darker};
  --int-color-darker: #{$int-color-darker};
  --cha-color-darker: #{$cha-color-darker};

  // Rarity colors
  --uncommon-color: #fffab1;
  --rare-color: #ffdeac;
  --legendary-color: #f7c2aa;
  --singular-color: #d3acff;

  // Meaning colors
  --color-negative: rgba(200, 0, 0, 1);
  --color-positive: rgba(0, 200, 0, 1);
  --color-warning: rgb(222, 124, 26);

  --player-color: #000;
  --player-contrast: #fff;
  --sheet-color: #000;
  --message-color: #000;


  // Encumbrance colors
  --enc-none: #9ea29f;
  --enc-light: #19762d;
  --enc-moderate: #ac9004;
  --enc-medium: #ac5504;
  --enc-heavy: #c12c07;
  --enc-immobile: #660404;

  //- Tabs
  --tab-font-size: 0.8rem;
  --tab-line-height: 1.2rem;
  --tab-border-radius: 3px;

  //- Actor
  --actor-profile-border-color: rgba(0, 0, 0, 0.1);
  --weapon-color: rgba(2, 0, 25, 0.73);
  --trait-color: rgba(45, 6, 81, 0.73);

  //- multiselect
  --sms-options-bg: silver;

  --size-xxs: 0.1rem;
  --size-xs: 0.2rem;
  --size-ms: 0.3rem;
  --size-sm: 0.4rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
}